# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
configs/*
!configs/sam2ooh2.example.yaml


# SQLite 데이터베이스 파일
*.sqlite
*.sqlite3
*.db
*.db3

# SQLite 임시 및 저널 파일 (WAL 모드 등에서 자동 생성됨)
*.sqlite-shm
*.sqlite-wal
*.db-shm
*.db-wal

# Editor/IDE
# .idea/
# .vscode/

# mocks
mocks